{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="btn btn-bg-info" href="#!">Bienvenido: {{ user.username }}</a></li>
                    <li class="nav-item"><a class="btn btn-bg-info" href="{% url 'usuario:logout' %}">Cerrar sesión</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">Sobre nosotros</a></li>

                    {% if user.is_staff %}
                        <div class="dropdown">
                            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="administrarEventosDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Administrar eventos
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="administrarEventosDropdown">
                                <li>
                                    <form class="d-flex" action="{% url 'evento:crear_evento' %}" method="post">
                                        {% csrf_token %}
                                        <button class="dropdown-item btn btn-link" type="submit">Añadir</button>
                                    </form>
                                </li>
                                <li>
                                    <a class="dropdown-item btn btn-link" href="{% url 'evento:lista_categorias' %}">Listar categorías</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}

                {% else %}

                <form class="d-flex" action="{% url 'usuario:login' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-dark" type="submit">
                        Iniciar sesión
                        <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                    </button>
                </form>

                <form class="d-flex" action="{% url 'usuario:register' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-dark" type="submit">
                        Registrarse
                        <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                    </button>
                </form>

                {% endif %}
                
            </ul>
            
        </div>
    </div>
</nav>
