{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Evento - {{ evento.titulo }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <style>
        body {
            background-color: #343a40;
            color: #fff;
        }
        .event-title {
            border: 1px solid #fff;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .event-description {
            border: 1px solid #fff;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        h1 {
            color: #fff;
        }
    </style>

</head>
<body>
    <div class="container py-5">
        <div class="event-title" align="center">
            <h1>{{ evento.titulo }}</h1>
        </div>
        <div class="event-description">
            <p>{{ evento.descripcion }}</p>
            <p>Fecha: {{ evento.fecha }}</p>
            <p>{{ evento.categoria }}</p>
        </div>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'registro:registrar_interes' evento.id %}" class="d-inline-block">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Me interesa</button>
            </form>
            <form method="post" action="{% url 'Home:home' %}" class="d-inline-block">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Volver</button>
            </form>
        {% else %}
            <p>Debes iniciar sesión para mostrar tu interés en este evento.</p>
            <a href="{% url 'usuario:login' %}" class="btn btn-primary">Iniciar sesión</a>
        {% endif %}
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">CoderHouse Python - 43860 &copy; Leandro Ruzicki</p></div>
</footer>

</html>