<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Evento</title>
</head>
<body>
    <div class="container py-5">
        <h1>Eliminar Evento</h1>
        <p>¿Estás seguro que deseas eliminar el evento "{{ evento.titulo }}"?</p>
        <form action="" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'evento:lista_categorias' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
